.important {
	color: #cc4b54;
	font-style: italic;
	font-size: 16px;
	
}

.history {
	font-size: 16px;
	color: #d25f67;
	
}

h1 {
	font-size: 30px;
	color: #d25f67;
	font-weight: bold;
}

h2 {
	font-size: 22px;
	
}

.about {
	color: #6cb0ac;
	font-size: 14px;
	font-style: italic;
}
.heading {
	font-size: 18px;
	color: #87ddd7;
	font-weight: bold;
}
.fill-type{
	font-weight: bold;
	color: #c34bcc;
}